$layout-medium-screen: 960px;
$layout-small-screen: 640px;
$layout-mini-screen: 400px;
$odd-line-color: red;
$img-box-border-color: red;
$layout-component-width-medium: 50%;
$layout-component-width: 33.33%;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flexbox;
  padding-left: 10%;
  padding-right: 10%;
}

.component {
  width: $layout-component-width;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  margin-top: 2rem;
  img {
    width: 70px;
    height: 70px;
    border: $img-box-border-color;
    border-style: solid;
    border-width: 1px;
    order: 1;
  }
}

.headerContainer {
  margin-bottom: 15px;
  display: flex;
  padding: 10px;
  width: fit-content;
  h3 {
    order: 2;
    margin-left: 10px;
  }
}

.textContainer {
  width: 85%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-align: justify;
  text-justify: inter-word;
  p {
    font-size: small;
    line-height: 0.2px;
    word-spacing: 3px;
  }
  p:nth-child(odd) {
    color: $odd-line-color;
  }
}

@media (max-width: $layout-medium-screen) {
  .component {
    width: $layout-component-width-medium;
    padding: 0, 5%, 0, 5%;
  }
}

@media (max-width: $layout-small-screen) {
  .container {
    padding: 0 0 0 0;
  }
  .component {
    width: 100%;
  }
  .headerContainer {
    -webkit-flex-direction: column-reverse;
    flex-direction: column;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    img {
      align-self: center;
    }
    h3 {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  .textContainer {
    width: 100%;
    overflow: auto;
    text-align: center;
    overflow-wrap: break-word;
  }
}
@media (max-width: $layout-mini-screen) {
  .textContainer {
    overflow-wrap: break-word;
    word-spacing: initial;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: initial;
    overflow: hidden;
  }
}
.error {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
